# Breast Cancer

En este Notebook vamos a resolver un problema de **clasificación con ML**.

El objetivo es entrenar un modelo que sea capaz de predecir si la persona va a tener cáncer de pecho o no.

**Imports necesarios para el proyecto**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pickle
import warnings

**Configuraciones del Notebook**

In [2]:
%matplotlib inline
warnings.filterwarnings('ignore')

El dataset se ha obtenido en: https://github.com/selva86/datasets

In [3]:
path = "./data_sample/BreastCancer.csv"
data = pd.read_csv(path)

In [4]:
data.head()

,Id,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1.0,3,1,1,0
1,1002945,5,4,4,5,7,10.0,3,2,1,0
2,1015425,3,1,1,1,2,2.0,3,1,1,0
3,1016277,6,8,8,1,3,4.0,3,7,1,0
4,1017023,4,1,1,3,2,1.0,3,1,1,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               699 non-null    int64
 1   Cl.thickness     699 non-null    int64
 2   Cell.size        699 non-null    int64
 3   Cell.shape       699 non-null    int64
 4   Marg.adhesion    699 non-null    int64
 5   Epith.c.size     699 non-null    int64
 6   Bare.nuclei      683 non-null    float64
 7   Bl.cromatin      699 non-null    int64
 8   Normal.nucleoli  699 non-null    int64
 9   Mitoses          699 non-null    int64
 10  Class            699 non-null    int64
dtypes: float64(1), int64(10)
memory usage: 60.2 KB

In [6]:
data.describe()

,Id,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,683.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.544656,3.437768,2.866953,1.589413,0.344778
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,3.643857,2.438364,3.053634,1.715078,0.475636
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,0.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,0.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,1.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000